@model ChangePasswordViewModel
<div class="container">
<h1>Cambiar contraseña</h1>

<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        Contraseña actual: <input asp-for="PasswordActual">
    </div>
    <div>
        Password nuevo: <input asp-for="PasswordNuevo">
    </div>
    <div>
        Password confirmacion: <input asp-for="PasswordConfirmacion">
    </div>
    <button>Cambiar pass</button>
</form>
<div>