@model ChangePasswordViewModel

<div class="container">
    <h1></h1>
    <h1 class = "text-center alert alert-info">Cambio de Contraseña</h1>

    <form asp-action="ChangePassword" method="post">
        <div asp-validation-summary="All">
        <div class ='container form-group'>
            <div class="form-group">
                <label>Contraseña actual:</label>
                <input class="form-control" asp-for="PasswordActual">
            </div>
            <h1></h1>
            <div>
              
                <label>Contraseña Nueva:</label>
                <input class="form-control" asp-for="PasswordNuevo">
            </div>
            <h1></h1>
            <div>
                
                <label>Confirmar Contraseña:</label>
                <input class="form-control" asp-for="PasswordConfirmacion">
            </div>
            <h1></h1>
            <button  type="submit" class=" btn btn-primary">Cambiar Contraseña</button>
        </div>
        </div>
    </form>
<div>