</br>
<div class="container">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
    </style>

    <link href="cover.css" rel="stylesheet">

    <body>
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Registro Confirmado</h1>
        <p class="lead">El registro fue confirmado con exito</p>
        <p class="lead">
        <a href="~/Admin/RegistroMascota" class="btn btn-lg btn-secondary">Seguir registrando</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner"></div>
    </footer>
    </body>

</div>