</br>
<div class="container">
  <body class="text-center">
      <form class="form-signin">
    <h1></h1>

    <img class="mb-4" src="~/images/Login.png" alt="" width="200" height="200">
    <h1 class="text-center">Iniciar Sesion</h1>
        </br>
    <label for="inputEmail" class="sr-only">Correo Electronico</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </br>

    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button>

  </form>
  </body>
</div>