@model Mascota
<div class="container"  asp-validation-summary="All">
 <form asp-action="RegistroMascota" method="post">
  <div class="form-group">
    <label>Nombre Temporal:</label>
    <input type="text" class="form-control" asp-for="NombreMascota">
  </div>

  <div class="form-group">
    <label >Peso en gramos:</label>
    <input class="form-control" asp-for="Peso">
  </div>

  <div class="form-group">
    <label>Codigo Mascota:</label>
    <input  class="form-control" asp-for="CodigoMascota">
  
  </div>
  <div class="form-group">
    <label>Edad en meses:</label>
    <input  class="form-control" asp-for="Edad">
  </div>

  <div class="form-group">
    <label>Foto:</label>
    <input  class="form-control" asp-for="Foto">
  </div>

  <div class="form-group">
    <label>Tipo:</label>
        <select name="TipoId">
            @foreach(var t in (List<TipoMascota>)ViewBag.Tipos) {
                <option value="@t.Id">@t.Nombre</option>
            }
        </select>  
  </div>

  <button type="submit" class="btn btn-primary">Registrar Mascota</button>
</form>

</div>


<!--h1>Formulario de registro de mascotas</h1>

<form asp-action="registro" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        Nombre: <input asp-for="NombreMascota">
    </div>
    <div>
        Edad: <input asp-for="Edad">
    </div>

    <div>
        Peso: <input asp-for="Peso">
    </div>

    <div>
        Codigo Mascota: <input asp-for="CodigoMascota">
    </div>

    <div>
        Foto: <input asp-for="Foto">
    </div>
    
    <div>
        Tipo: 
        <select name="TipoId">
            @foreach(var t in (List<TipoMascota>)ViewBag.Tipos) {
                <option value="@t.Id">@t.Nombre</option>
            }
        </select>
    </div>
    <button>Registrar</button>
</form>

-->