<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Titulo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container mt-4">
        <div class=row>
            <div class=col-4>
                <img src="http://adoptasalvaunavida.com/_mibambu/_salvaunavida/imas/logo-mobile.jpg" width="150">
            </div>
            <div class=col-4>
                <h1 style="font-family:'Courier New', Courier, monospace">AdoptaAhora.com</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/Home/Index">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Comunidad/Solicitud">Solicitud</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Comunidad/Ayuda">Ayudar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/PreguntasFrecuentes">Preguntas Frecuentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Home/MascotasDisponibles">Mascotas</a>
            </li>
            <li>
                <a class="nav-link" href="/Admin/IniciarSesion">Admin mode</a>
            </li>
        </ul>
    </div>

@RenderBody()

<footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - AdoptaAhora.com 
        </div>
    </footer>    
</body>


</html>