<div class="container mt-5">
        <div class="row">
        <div class="col 6">
            <img src="http://www.diplomadosperu.edu.pe/images/Contactanos.png">
        </div>
        <div class="col 6">
            <form action="~/Home/Contacto" method="post">
                <div>
                    <label>Nombre: </label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" name="nombre">
                </div>
                <div>
                    <label>Apellido: </label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Apellido" name="apellido">
                </div>
                <div>
                    <label>Correo: </label>
                    <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com" name="correo">
    
                </div>
                <div>
                    <label>Mensaje: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-2   mb-2">Enviar</button>
            </form>
        </div>
    </div>
</div>