<h2>TAMBIEN ACEPTAMOS DONACIONES!!!</h2>
<h1>Cuenta BCP Soles: 191-52225511-22</h1>
<h2>Cuenta Banco de la nación a nombre de Pepito : 85552246-55555</h2>

<img src="http://www.fol.org.co/wp-content/uploads/2016/12/Banner-donaciones.jpg"> 