<link rel="stylesheet" href="~/css/fontello.css">
<link rel="stylesheet" href="~/css/estilos.css">
		<section id="banner">
			<img src="~/images/banner_1.jpg">
				<div class="contenedor">
					<h2 style="text-align:left;">Tener una mascota vuelve tu vida feliz</h2>
					<p style="text-align:left;">Anímate a cambiar tu vida y la suya</p>
				</div>
			</section>
			
			<section id="bienvenidos">
				<h2>Bienvenidos a AdoptaAhora.com</h2>
				<p>Somos una organización sin fines de lucro que busca 
				dar a hogar y felicidad a mascotas, como también acabar
				con el maltrato animal</p>
			</section>
			
			<section id="blog">
				<h3>Lo último en AdoptaAhora.com</h3>
				<div class="contenedor">
					<article>
						<img src="~/images/img-1.jpg">
						<h4>Escoge tu mascota </br>perfecta</h4>
					</article>
					
					<article>
						<img src="~/images/img-2.jpg">
						<h4>Los animales necesitan </br>cariño</h4>
					</article>
				
					<article>
						<img src="~/images/img-3.jpg">
						<h4>Una mascota te puede </br>cambiar la vida</h4>
					</article>
				</div>
			</section>
			
			<section id="info">
				
				<h3>Tener una mascota no es tener un compañero, 
					es tener a alguien más en tu familia.</h3>
				
				<div class="contenedor">
					<div class="info-pet">
						<img src="~/images/imagen-1.jpg">
						<h4>Tamina</h4>
					</div>
									
					<div class="info-pet">
						<img src="~/images/imagen-2.jpg">
						<h4>Louis</h4>
					</div>
									
					<div class="info-pet">
						<img src="~/images/imagen-3.jpg">
						<h4>Tom</h4>
					</div>
				
					<div class="info-pet">
						<img src="~/images/imagen-4.jpg">
						<h4>Bape</h4>
					</div>
				</div>
				
			</section>
			

