</br>
<div class="container">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>
    
    <body>
        <h1></h1>
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Preguntas Frecuentes </h1>
        <p class="lead my-3">En este pequeño espacio podras resolver tus dudas que tengas sobre nosotros</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Aprende mas de nosotros ... </a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Engreido Fundador</strong>
            <h3 class="mb-0">Luana</h3>
            <div class="mb-1 text-muted">Mayo del 2018</div>
            <p class="card-text mb-auto">Ella es Luana, una de las primeras cachorras en ser acogidas en nuestra casa.</p>
            <a href="#" class="stretched-link">Continuar Leyendo</a>
            </div>
            <div class="col-auto d-none d-lg-block">
           <img width='200' height = '250' src='~/images/aa1.jpg'>
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Engreido Fundador</strong>
            <h3 class="mb-0">Max</h3>
            <div class="mb-1 text-muted">Mayo del 2018</div>
            <p class="mb-auto">El es Max, es muy jugueton, fue uno de los primeros acogidos en nuestra casa.</p>
            <a href="#" class="stretched-link">Continuar Leyendo</a>
            </div>
            <div class="col-auto d-none d-lg-block">
            
            <img width='200' height = '250' src='~/images/aa2.jpg'>
            </div>
        </div>
        </div>
    </div>
    </div>

    <main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            Todo sobre nosotros 
        </h3>

        <div class="blog-post">
            <h2 class="blog-post-title">Aprende a Adoptar</h2>
        
            <p>En este corto recorrido te enseñaremos todo lo necesario para que aprendas los pasos para adoptar a cualquiera de nuestros engreidos.</p>
            <hr>
            <ul>
             <li><span>1.</span> Encuentra a tu mascota ideal.</li>
                <li><span>2.</span> Toma nota dei id identificador</li>
                <li><span>3.</span> Completa el formulario de datos personales.</li>
                <li><span>4.</span> Te llegará un correo para que puedas continuar con el último formulario.</li>
                <li><span>5.</span> Nos pondremos en contacto contigo por correo en las siguientes 48 horas de completado el formulario para programar una videollamada</li>
                <li><span>6.</span> Realiza la conversación con un personal autorizado (vía Skype).</li>
                <li><span>7.</span> En las siguientes 24 horas nos pondremos en contacto para indicarte el resultado de tu solicitud de adopción.</li>
                <li><span>8.</span> Deposita la contribución de adopción de S/. 100.00 en la siguiente cuenta y envíanos el comprobante del depósito: BCP (S/.): 121-174521741-22 </li>                    
                <li><span>9.</span> Nuestro equipo se pondrá en contacto para programar la entrega de tu mascota.</li>
                <li><span>10.</span> Recibe a tu mascota y firma el compromiso de adopción.</li>
                <li><span>11.</span> ¡Listo!</li>
            </ul>
            <h2>¿Qué es AdoptaAhora.com?</h2>
            <p class="accordion-content">AdoptaAhora.com es una asociación sin fines de lucro dedicada a la 
                    promoción de la adopción, el trabajo de concientización sobre la realidad de los perros en 
                    estado de abandono y la ejecución de proyectos que contribuyan a la construcción de un mundo 
                    mejor para todos los perros.</p>
            <h2>¿Quién puede postular para adoptar?</h2>
            <p class="accordion-content">Para postular es necesario que seas mayor de edad, de lo contrario, 
                    será necesario que uno de tus padres o tu apoderado sean quienes postulen e indiquen que tu 
                    estarás a cargo del cuidado de la mascota al momento de la entrevista.</p>
            <h2>¿AdoptaAhora.com tiene fines de lucro?</h2>
            
             <p class="accordion-content">AdoptaAhora.com es una asociación sin fines de lucro que no genera 
                    ninguna utilidad con los ingresos que recibe. Las contribuciones de adopción sirven únicamente 
                    para poder costear parte de los procesos de incorporación y adopción de nuestras mascotas.
                    Por otro lado, cualquier ingreso adicional que recibamos servirá únicamente para hacerla sostenible 
                    y el resto será reinvertido exclusivamente en proyectos que beneficien a los perros con el objetivo 
                    de construir un mundo mejor para ellos.</p>
            
        </div>

        <div class="blog-post">
            <h2 class="blog-post-title">¿Adoptar tiene un costo?</h2>
            Solicitamos a los adoptantes una contribución de S/. 100.00. Esta contribución es totalmente 
                    necesaria y hace posible que su proceso de adopción sea seguro, sencillo y tenga la más alta 
                    calidad. A continuación está el detalle de todos los conceptos comprendidos dentro de la 
                    contribución de adopción:<br>     
                    <ul class="faq-list-detail">
                        <li>Sesión de fotos y filmación de video para la plataforma de adopción.</li>
                        <li>Edición de fotos y producción de videos.</li>
                        <li>Traslado de la mascota del albergue al punto de entrega en Lima.</li>
                        <li>Baño.</li>
                        <li>Kit del adoptante: collares, Guía del Adoptante y cartilla de vacunación.</li>
                        <li>Vacunas, desparasitantes y fármacos para esterilización (esta es nuestra contribución 
                            al albergue de procedencia de la mascota que adoptes, lo que nos permitirá generar 
                            la siguiente generación de mascotas).</li>
                        <li>Examen clínico, psicológico y de sangre.</li>
                        <li>Bolsa de comida Canbo de 2.5 kg.</li>
        </div>

        <div class="blog-post">
            <h2 class="blog-post-title">¿Realizarán alguna clase de seguimiento?</h2>
           <p>Como parte del proceso de seguimiento, nos pondremos en contacto con todos nuestros 
                    adoptantes al cumplirse la primera semana, mes, seis meses y año de haberse producido 
                    la adopción de su mascota. Para facilitar este proceso a nuestros adoptantes, el proceso de 
                    seguimiento se realizará vía medios digitales, pero nos reservamos el derecho de poder 
                    solicitar una cita cuando lo considere pertinente. Además, estamos a disposición de 
                    todos sus adoptantes permanentemente para resolver sus dudas a través del correo adopta@ahora.com.pe
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">¿Una vez que haya concluido el proceso de adopción, puedo seguir en contacto con AA.com?</h2>
          <p>Escríbenos a adopta@ahora.com.pe</a> y estaremos felices de atenderte y resolver tus dudas. </p>
        </div>
        </div>

        <aside class="col-md-4 blog-sidebar">
        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Nosotros</h4>
            <p class="mb-0">Somos una empresa no lucrativa que acoge cualquier tipo de cachorro que se encuentre necesitado para encontrar una familia que se haga cargo de el.</p>
        </div>

        <div class="p-4">
            <h4 class="font-italic">Fotos de Nuestros Engreidos</h4>
            <ol class="list-unstyled mb-0">
            
            <li><a href="#">Junio 2018</a></li>
            <li><a href="#">Julio 2018</a></li>
            <li><a href="#">Setiembre 2018</a></li>
            <li><a href="#">Octubre 2018</a></li>
            <li><a href="#">Noviembre 2018</a></li>
            <li><a href="#">Diciembre 2018</a></li>
            <li><a href="#">Enero 2019</a></li>
            <li><a href="#">Febrero 2019</a></li>
            <li><a href="#">Marzo 2019</a></li>
            <li><a href="#">Abril 2019</a></li>
            <li><a href="#">Mayo 2019</a></li>
            </ol>
        </div>

        <div class="p-4">
            <h4 class="font-italic">Siguenos en: </h4>
            <ol class="list-unstyled">
            <li><a href="#">GitHub : AdoptaAhora.com</a></li>
            <li><a href="#">Twitter : AdoptaAhoraOfficial </a></li>
            <li><a href="#">Facebook : AdoptaAhoraOfficial</a></li>
            </ol>
        </div>
        </aside>

    </div>

    </main>


    </body>
</div>