<div class="col mt-2">
  <img src="http://www.publispain.com/blogs/mascotas/uploads/bannersosanimalesss.jpg" class="img-fluid" alt="Responsive image">
</div>

<div class="container">
    <div class="text-center">
      <img src="http://www.foodservice.com.ar/images/titulo-nosotros.png">
    </div>
  <div class="row text-center">
    <p>Somos una empresa sin fines de lucro dedicada a promover la adopción de mascotas</p>
  </div>
</div>
<div class="container">
  <div class="row mt-2">
    <div class="col-6">
      <img src="https://www.dondeir.com/wp-content/uploads/2016/10/perros-en-adopcion-02.jpg" width="500"  class="rounded float-left">
    </div>
    <div class="col-6">
      <img src="https://www.proyecto-noa.org/wp-content/uploads/2015/11/perrosenadopcion.png" width="500"  class="rounded float-right">
    </div>
  </div>
</div>