<div class="container mt-5">
        <div class="row">
        <div class="col 6">
            <img src="http://www.diplomadosperu.edu.pe/images/Contactanos.png">
        </div>
        <div class="col 6">
            <form action="~/Mascota/RegistroMascota" method="post">
                <div>
                    <label>Nombre: </label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" name="nombre">
                </div>
                <div>
                    <label>Peso: </label>
                    <input type="double" class="form-control" id="exampleFormControlInput2" placeholder="Peso" name="peso">
                </div>
                <div>
                    <label>Edad: </label>
                    <input type="int" class="form-control" id="exampleFormControlInput3" placeholder="Edad" name="edad">
    
                </div>
                <div>
                    <label>Raza: </label>
                    <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="Raza" name="raza">
    
                </div>
                <div>
                    <label>Foto: </label>
                    <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="Foto" name="foto">
                </div>

                <button type="submit" class="btn btn-primary mt-2   mb-2">Enviar</button>
            </form>
        </div>
    </div>
</div>