@{
    ViewBag.Titulo="Confirmar Envio";
}
  
<div class="container text-center">
    <div class=" mt-2 text-center mb-4">
        <h1>CONFIRMACIÓN DE ENVIO</h1>
    </div>
    <div class="row">
        <div class="col-6"> 
            <img src="https://www.ecodie.cl/wp-content/uploads/2015/03/PAG-MENSAJE-ENVIADO.jpg" class="img-fluid">
        </div>
        <div class="col-6" style="margin: auto; ">
        <h4>
            <p>Estimado @TempData["nombre"] @TempData["apellido"] su mensaje fue enviado con éxito. </p>
            <p>Responderemos el mensaje lo mas antes posible a @TempData["correo"]</p>
            <p>GRACIAS!!!!</p>
        </h4>
        </div>
    </div>
</div>